.nav-bg-color {
	background-color: #282b2a;
	color: white;
	display: flex;
	flex-direction: column;
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	width: 200px;
}
.nav-logo {
	width: 150px;
	height: auto;
}

.nav-app {
	display: flex;
}

.content {
	flex-grow: 1;
	margin-left: 200px;
}

.nav-text {
	padding: 10px;
	text-decoration: none;
	color: white;
}

ul {
	list-style-type: none;
}

ul > li {
	padding-bottom: 1em;
}

.logo {
    width: 125px;
    height: auto;
}

.carbon-btn {
    background-color: #E53F49;
    margin: 1em;
}

.titles-dashboard {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.form-missions{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.btn-create{
    width: 15%;
    display: block;
    text-align: center;
}

	width: 125px;
	height: auto;
}

/* ########### DEV PROFIL ############# */

.dev-profil-section {
	padding: 5% 10%;
}

.badge-items {
	padding: 0 5%;
}

.badge-logo {
	width: 70px;
	padding-right: 20px;
	height: auto;
}

.progress {
	width: 80%;
	height: 10px;
}

.progress-bar {
	background: linear-gradient(
		to right,
		#00ff00 0%,
		#ffff00 33%,
		#ff8000 66%,
		#ff0000 100%
	);
}
