.nav-bg-color {
	background-color: #282b2a;
	color: white;
	display: flex;
	flex-direction: column;
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	width: 200px;
  z-index: 1;
}
.nav-logo {
	width: 150px;
	height: auto;
}

.nav-app {
	display: flex;
}

.content {
	flex-grow: 1;
	margin-left: 200px;
}

.nav-text {
	padding: 10px;
	text-decoration: none;
	color: white;
}

ul {
	list-style-type: none;
}

ul > li {
	padding-bottom: 1em;
}

.logo {
    width: 125px;
    height: auto;
}

.titles-dashboard {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.form-missions{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.btn-create{
    width: 15%;
    display: block;
    text-align: center;
}

/* ########### LOGIN ############# */

.login_form {
	background-color: #f8f8f8;
	border-radius: 10px;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 2%;
	margin: 10% auto;
	max-width: 450px;
  }
  
  .login_form h1 {
	text-align: center;
	font-size: 2.3rem;
	margin-bottom: 20px;
  }
  
  .login_form .form-outline {
	margin-bottom: 20px;
  }
  
  .login_form input[type="email"],
  .login_form input[type="password"] {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .login_form input[type="checkbox"] {
	margin-right: 5px;
  }
  
  .login_form .btn-primary {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #007bff;
	color: #ffffff;
  }
  
  .login_form .btn-primary:hover {
	background-color: #0069d9;
  }
  
  .login_form .loading {
	text-align: center;
	margin-top: 10px;
  }
  
  .login_form .error {
	color: #dc3545;
	margin-top: 10px;
  }
  
  .login_form .success {
	color: #28a745;
	margin-top: 10px;
  }
  
  
/* ########### DEV PROFIL ############# */

.dev-profil-section {
	padding: 5% 10%;
}

.badge-items {
	padding: 0 5%;
}

.badge-logo {
	width: 70px;
	padding-right: 20px;
	height: auto;
}

.progress {
	width: 80%;
	height: 10px;
}

.progress-bar {
	background: linear-gradient(
		to right,
		#00ff00 0%,
		#ffff00 33%,
		#ff8000 66%,
		#ff0000 100%
	);
}



.titles-dashboard {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.form-missions{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.btn-create{
    width: 15%;
    display: block;
    text-align: center;
}

.header-row {
	background-color: #f0f0f0;
	font-weight: bold;
  }
  
  
  .btn.carbon-btn.active {
	background-color: #007bff;
  }
  
  .list-group-item {
	margin-bottom: 8px;
  }
  
.news-img {
	width: 70%;
	border-radius: 10%;
	height: auto;
}

.news-content {
	padding: 0 5%;
	
}

.bg-news {
	padding: 1em;
	color: white;
}

.blog {
	padding: 1em;
	display: flex;
}

.badges {
	padding-left: 10px;
}

/* ########### CAROUSSEL ############# */
.img-arrival{
	border-radius: 50%;
	width: 100px; 
	height: 100px;
}

@import url('https://fonts.googleapis.com/css2?family=Larsseit:wght@400;700&display=swap');

:root {
  --primary-color: #282B2A;
  --secondary-color: #E53F49;
  --tertiary-color: #00BB7E;
  --text-color: #FDFDFD;
  --accent-color: #5B98D2;
}

body {
  font-family: 'Larsseit', sans-serif;
  color: #282B2A;
}

.nav-bg-color {
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
}

.nav-logo {
  width: 150px;
  height: auto;
}

.nav-app {
  display: flex;
}

.content {
  flex-grow: 1;
  margin-left: 200px;
}

.nav-text {
  padding: 10px;
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style-type: none;
}

ul > li {
  padding-bottom: 1em;
}

.logo {
  width: 125px;
  height: auto;
}

.carbon-btn {
  background-color: var(--secondary-color);
  margin: 1em;
  color: var(--text-color);

  &:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
  }
}

.carbon-btn-vert {
  background-color: var(--tertiary-color);
  margin: 1em;
  color: var(--text-color);

  &:hover {
    background-color: var(--tertiary-color);
    color: var(--text-color);
  }
}

/* Actualités */
.news-img {
  width: 70%;
  border-radius: 10%;
  height: auto;
}

.news-content {
  padding: 0 5%;
}

.bg-news {
  padding: 1em;
  color: #282B2A;
}

/* Carrousel */
.img-arrival {
  border-radius: 50%;
  width: 350px;
  height: 400px;
}

.bg-team {
	margin: 5%;
	text-align: center;
	color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-carbon{
	font-size: 2em;
}

.h1-carbon{
  color: black;
}

.h1-news {
  text-align: center;
  padding: 0.5em;
}

.namedev {
  font-size: 1.6em;
  padding-top: 10px;
}

.center {
  text-align: center;
}

.banner-bar{
  background-color: #dadada;
}

.content-news{
  padding: 2em;
}